<div class="flex items-center ps-3">
    <input type="checkbox" value="check" #cb (change)="checkBoxValue(cb, index)" class="w-4 h-4 ms-3 bg-gray-100 border-gray-300">
    <label class="w-full py-3 ms-8 text-sm font-light text-gray-500 dark:text-gray-500">{{ todo.getValue()[index].title }}</label>
    <button type="button" class="px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white rounded-lg" (click)="onDelete.next(todo.getValue()[index].id)">
        <svg class="w-4 h-4 text-gray-800 dark:text-fuchsia-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
            <path d="M19 0H1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1ZM2 6v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6H2Zm11 3a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V8a1 1 0 0 1 2 0h2a1 1 0 0 1 2 0v1Z"/>
        </svg>
    </button>   
</div>
